<div class="col-md-3 col-sm-5">
    <div class="sidebar blog-sidebar">
        <div class="sidebar-item  recent">
            <h3>Comments</h3>
            <div class="media">
                <div class="pull-left">
                    <a href="#"><img src="{{ static_url('images/portfolio/project1.jpg') }}" alt=""></a>
                </div>
                <div class="media-body">
                    <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                    <p>posted on  07 March 2014</p>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <a href="#"><img src="{{ static_url('images/portfolio/project2.jpg') }}" alt=""></a>
                </div>
                <div class="media-body">
                    <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                    <p>posted on  07 March 2014</p>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <a href="#"><img src="{{ static_url('images/portfolio/project3.jpg') }}" alt=""></a>
                </div>
                <div class="media-body">
                    <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                    <p>posted on  07 March 2014</p>
                </div>
            </div>
        </div>
        <div class="sidebar-item categories">
            <h3>Categories</h3>
            <ul class="nav navbar-stacked">
                <li><a href="#">Lorem ipsum<span class="pull-right">(1)</span></a></li>
                <li class="active"><a href="#">Dolor sit amet<span class="pull-right">(8)</span></a></li>
                <li><a href="#">Adipisicing elit<span class="pull-right">(4)</span></a></li>
                <li><a href="#">Sed do<span class="pull-right">(9)</span></a></li>
                <li><a href="#">Eiusmod<span class="pull-right">(3)</span></a></li>
                <li><a href="#">Mockup<span class="pull-right">(4)</span></a></li>
                <li><a href="#">Ut enim ad minim <span class="pull-right">(2)</span></a></li>
                <li><a href="#">Veniam, quis nostrud <span class="pull-right">(8)</span></a></li>
            </ul>
        </div>
        <div class="sidebar-item tag-cloud">
            <h3>Tag Cloud</h3>
            <ul class="nav nav-pills">
                <li><a href="#">Corporate</a></li>
                <li><a href="#">Joomla</a></li>
                <li><a href="#">Abstract</a></li>
                <li><a href="#">Creative</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Product</a></li>
            </ul>
        </div>
        <div class="sidebar-item popular">
            <h3>Latest Photos</h3>
            <ul class="gallery">
                <li><a href="#"><img src="{{ static_url('images/portfolio/popular1.jpg') }}" alt=""></a></li>
                <li><a href="#"><img src="{{ static_url('images/portfolio/popular2.jpg') }}" alt=""></a></li>
                <li><a href="#"><img src="{{ static_url('images/portfolio/popular3.jpg') }}" alt=""></a></li>
                <li><a href="#"><img src="{{ static_url('images/portfolio/popular4.jpg') }}" alt=""></a></li>
                <li><a href="#"><img src="{{ static_url('images/portfolio/popular5.jpg') }}" alt=""></a></li>
                <li><a href="#"><img src="{{ static_url('images/portfolio/popular1.jpg') }}" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>
